pytest==6.2.3
h11==0.14.0
defusedxml==0.7.1
cffi==1.14.5
future==0.18.2
pillow==8.2.0
ipython==7.22.0
olefile==0.46
pip==21.0.1
wheel==0.36.2
brotli==1.0.9
cryptography==3.4.7
py==1.10.0
lxml==4.6.3
tornado==6.1
keyring==22.3.0
pytz==2021.1
anyio==3.6.2
sniffio==1.2.0
markupsafe==1.1.1
werkzeug==1.0.1
jinja2==2.11.3
click==7.1.2
blinker==1.4
itsdangerous==1.1.0
six==1.15.0
requests==2.25.1
pkginfo==1.7.0
colorama==0.4.4
yaml==0.2.5
pyyaml==5.4.1
tblib==1.7.0
numpy==1.20.1
docutils==0.17
fastapi==0.87.0
starlette==0.21.0
pydantic==1.10.2
ujson==4.0.2
uvicorn==0.19.0
cython==0.29.23
decorator==5.0.6
mock==4.0.3
python-multipart==0.0.5
setuptools==52.0.0
zipp==3.4.1